{% extends 'base.html' $}

{% block title %} Create {% endblock %}

{% block body %}
<form method="POST">
    <h1>Nova Pessoa</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Salvar</button>
    <a href="{% url 'list' %}">Voltar</a>
</form>
{% endblock %}