<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body style="background-color:green">
<h1>LISTAGEM</h1>
<table border="2">


    <thead>
    <tr>
        <th scope="col">Nome</th>
    </tr>
    </thead>
    <tbody>

    {% csrf_token %}

    <tr>
        {% for pessoa in pessoa %}
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td><a href="{% url 'delete' pessoa.id %}">Deletar</a></td>
        <td><a href="{% url 'create' %}">Criar Usuário</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</form>
</body>
</html>