<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body style="background-color:green">
<form method="post">
    <h1>Atualizar Dados</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button>Salvar</button>

</form>
<button><a href="{% url 'list' %}">Voltar</a></button>
</body>
</html>